.box-layout {
    background: #5789B8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: black;
}

.box-layout__box {
    background: fade-out(white, .15);
    border-radius: 0.3rem;
    text-align: center;
    width: 35rem;
    padding: $l-size;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    color: black;
}