.button {
    background: $linkedin-blue;
    padding: $s-size;
    color: white;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    border: none;
    margin: $m-size $s-size;
}

.button--remove, .button--save {
    margin: 0;
}

.button--save {
    margin-top: 10px;
}

.button--logout {
    background: none;
    margin-right: 0;
}

.button__extend {
    margin-bottom: 26px;
}

.button__filters {
    @extend .button;
    background: white;
    color: black;
    border: 1px solid lightgray;
    margin: $m-size 2px;
    height: 50px;
}

.button__filters--selected {
    @extend .button;
    margin: $m-size 2px;
    border: 1px solid white;
    height: 50px;
    background: rgb(88, 151, 88);
    color:white;
}
