.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }
}

.form__entry-header {
    margin: 10px auto 20px auto;
    color: black;
} 

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
}