.header {
    background: $dark-blue;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.header__title {
    margin-right: auto;
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}
 
.header__photo--login {
    max-width: 100%;
    border: 1px solid black;
}