.page-header {
    background: $off-white;
    padding: $l-size 0;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: $l-size;
}

.page-header__img {
    width: 230px;
    height: 250px;
    object-fit: cover;
    grid-column: 1 / 2;
    margin: 0 auto;
}

.page-header__title {
    margin: 0;
    margin-bottom: 7px;
    span {
        font-weight: bold;
    }
    @media (max-width: $m-devices) {
        order: -1;
    }
}

.page-header__title--error {
    margin: 0;
    margin-top: 25px;
    font-size: 12px;
}

.page-header__caption {
    font-size: 12px;
    margin: 0 auto;
}

.page-header__title--error, .page-header__caption {
    @media (max-width: $m-devices) {
        display: none;
    }
}

.page-header--responsive {
    color: black;
    text-align: center;
    margin-bottom: 0;
    @media (min-width: $m-devices + 1px) {
        display: none;
    }
}

.page-header--margin {
    margin-bottom: 150px;
}

.page-header__title, .page-header__caption {
    grid-column: 2 / 3;
}

.page-header__bio {
    display: grid;
    grid-template-rows: 55px auto;
    grid-template-columns: 250px auto;
    grid-column-gap: 20px;
    height: 250px;
    @media (max-width: $m-devices) {
        display: flex;
        font-size: $font-size-small;
        flex-direction: column;
        align-items: center;
        height: 299px;
    }
}