.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;
    background: darken($off-white, 3%);
    border: 1px solid darken($off-white, 9%);
    justify-content: space-around;
    @media (min-width: $xl-devices) {
        flex-direction: row;
        margin-bottom: $l-size;
    }
    @media (max-width: $xl-devices) {
        padding-top: 14px;
        padding-bottom: 30px;
    } 
}

.input-group__item {
    align-self: center;
    @media (min-width: $xl-devices) {
        margin-right: $l-size;
    }
    @media (max-width: $xl-devices) {
        &:nth-child(4) {
            order: -1;
            .input-group__header {
                margin: 0;
            }
        }
    }
}

.input-group__header {
    color: black;
    font-weight: bold;
    align-self: center;
    @media (min-width: $desktop-breakpoint) {
        margin: 0 $m-size;
    }
}