// Colors
$dark-grey: #333;
$grey: #666;
$linkedin-blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$faq-container: 40px;
$faq-rounded-edges: 5px;

// Font sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Responsive Breakpoints
$s-devices: 600px; /* Small devices (portrait tablets and large phones, 600px and up) */
$m-devices:768px; /* Medium devices (landscape tablets, 768px and up) */
$l-devices: 1024px; /* Large devices (laptops/desktops, 992px and up) */
$xl-devices: 1200px; /* Extra large devices (large laptops and desktops, 1200px and up) */
